nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
}

.heading{
    background-color: blue;
    border-radius: 10px;
    width: 95vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}